
form {
    box-sizing: border-box;
    padding: 1rem;
    background-color: hsl(0, 0%, 100%);
    border: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.full-width {
    grid-column: span 2;
}

form > button {
    background-color: #4d7c0f;
    padding: 1rem;
    border-radius: 24px;
    font-size: 1rem;
    color: white;
}

legend,
fieldset,
select,
textarea,
input,
button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

input,
select,
textarea {
  border: 1px solid #333;
  background-color: white;
  border-radius: 0.25rem;
}

input[type="text"],
input[type="email"],
select,
textarea {
  font: 1.25rem / 1.5 sans-serif;
  display: block;
  box-sizing: border-box;
  width: 80%;
  padding: 0.5rem 0.75rem;
}

input[type="number"] {
    display: block;
    box-sizing: border-box;
    width: 120px;
    padding: 0.5rem 0.75rem;
    font: 1.25rem / 1.5 sans-serif;
}

.personal-info {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
}

.personal-info > h1 {
    grid-column: span 3;
}

.small-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: .75rem;
}

.small-form > label:nth-of-type(-n+2) {
    grid-column: span 2;
}
.small-form > h3 {
    grid-column: span 2;
}

.small-form > button {
    padding: 1rem;
    background-color:#b91c1c;
    color: white;
    font-size: 1rem;
    border-radius: .5rem;
    width: fit-content;
}

section > button {
    background-color: #075985;
    color: #fff;
    padding: 1rem;
    border-radius: .5rem;
    margin: 24px 0;
    font-size: 1rem;
}